<p>manage-info works!</p>


<div class="container">
    <h1>API Test</h1>

    <form #data="ngForm" (ngSubmit)="onClickSubmit(data.value)">
        <div class="info">
            <label>Name: </label>
            <input name="name" type="text" placeholder="name" ngModel>
        </div>

        <div class="info">
            <label for="">Age: </label>
            <input name="age" type="text" placeholder="Age" ngModel>
        </div>

        <button type="submit">Submit</button>
    </form>

    <h2>GET Data</h2>
    <button type="submit" (click)="getData()">Data</button>

    <ul>
        <li *ngFor="let info of infoData">
            [{{info.age}}] - {{ info.name }}
        </li>
    </ul>
</div>